<mat-toolbar color="primary">
  <span>DashBoard</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/" class="custom-button">Home</a>
</mat-toolbar>
<router-outlet></router-outlet>

<div class="container">
  <mat-form-field>
    <mat-label>Select Data</mat-label>
    <mat-select [formControl]="dataControl">
      <mat-option *ngFor="let fileName of dataList$ | async" [value]="fileName">
        {{ fileName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-piechart *ngIf="selectedFileName" [fileName]="selectedFileName"></app-piechart>
